<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wotingfm">

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 蓝牙管理 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 改变WiFi状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取WiFi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 使用蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 读取联系人 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <!-- 获取任务信息 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 写入外部存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 开机自动允许 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 连续广播 -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- 读写系统设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 处理拨出电话 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <!-- 读取电话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读写发送短信 -->
    <!-- <uses-permission android:name="android.permission.READ_SMS" /> -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- <uses-permission android:name="android.permission.WRITE_SMS" /> -->
    <!--
    拨打电话权限
    <uses-permission android:name="android.permission.CALL_PHONE" />
    -->
    <!-- 修改声音设置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- 定位包、导航包需要的额外权限（注：基础权限也需要） -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- Needed to use our own Contact editor -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!--  -->
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- android:hardwareAccelerated="true" -->
    <application
        android:name=".common.application.BSApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name">

        <!-- 启动时的欢迎界面 -->
        <activity
            android:name=".activity.common.splash.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--  -->


        <!-- 主界面 -->
        <activity
            android:name=".activity.common.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.wotingfm.htmlcallback" />
            </intent-filter>
        </activity>

        <!-- 创建群组主界面 -->
        <activity
            android:name=".activity.im.interphone.creategroup.main.CreateGroupMainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 创建群组子界面  即有创建公开群、密码群、验证群 -->
        <activity
            android:name=".activity.im.interphone.creategroup.create.CreateGroupItemActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 消息中心 -->
        <activity
            android:name=".activity.im.interphone.notify.activity.NotifyNewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 头像剪裁界面 -->
        <activity
            android:name=".activity.im.interphone.creategroup.photocut.PhotoCutActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 查找好友、群组界面 -->
        <activity
            android:name=".activity.im.interphone.find.FindActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 查找好友、群组显示结果界面 -->
        <activity
            android:name=".activity.im.interphone.find.result.FindNewsResultActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 扫描二维码界面 -->
        <activity
            android:name=".activity.im.interphone.scanning.activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 扫描二维码显示结果界面 -->
        <activity
            android:name=".activity.im.interphone.scanning.activity.ResultActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 添加好友界面 -->
        <activity
            android:name=".activity.im.interphone.find.add.FriendAddActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 添加群组界面 -->
        <activity
            android:name=".activity.im.interphone.find.add.GroupAddActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.im.interphone.alert.CallAlertActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 我的界面 -->
        <activity
            android:name=".activity.mine.main.MineActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 关于我们 -->
        <activity
            android:name=".activity.mine.about.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 联系我们 -->
        <activity
            android:name=".activity.mine.contactus.ContactUsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 下载位置 -->
        <activity
            android:name=".activity.mine.downloadposition.DownloadPositionActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 意见反馈 -->
        <activity
            android:name=".activity.mine.feedback.activity.FeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 帮助 -->
        <activity
            android:name=".activity.mine.help.HelpActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 修改个人资料 -->
        <activity
            android:name=".activity.mine.update.UpdatePersonActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 我喜欢的界面 -->
        <activity
            android:name=".activity.music.favorite.activity.FavoriteActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.music.main.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 登录 -->
        <activity
            android:name=".activity.person.login.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <!-- 注册 -->
        <activity
            android:name=".activity.person.register.RegisterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <!-- 忘记密码 -->
        <activity
            android:name=".activity.person.forgetpassword.ForgetPasswordActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <!-- 修改密码 -->
        <activity
            android:name=".activity.person.modifypassword.ModifyPasswordActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <!-- 反馈建议历史 -->
        <activity
            android:name=".activity.mine.feedback.feedbacklist.activity.FeedbackListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!--
        修改手机号
        <activity
            android:name=".activity.person.phonecheck.activity.PhoneCheckActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        -->


        <!-- 播放历史界面 -->
        <activity
            android:name=".activity.music.playhistory.activity.PlayHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 定时关闭界面 -->
        <activity
            android:name=".activity.music.timeset.TimerPowerOffActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 搜索界面 -->
        <activity
            android:name=".activity.music.search.activity.SearchLikeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.im.interphone.alert.ReceiveAlertActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.im.interphone.groupmanage.groupdetail.activity.GroupDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.im.interphone.groupmanage.transferauthority.TransferAuthorityActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.im.interphone.groupmanage.memberadd.activity.MemberAddActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.im.interphone.groupmanage.memberdel.MemberDelActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 全部群成员 -->
        <activity
            android:name=".activity.im.interphone.groupmanage.allgroupmember.activity.AllGroupMemberActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 修改群密码 -->
        <activity
            android:name=".activity.im.interphone.groupmanage.modifygrouppassword.ModifyGroupPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 对讲主页 -->
        <activity
            android:name=".activity.im.interphone.main.DuiJiangActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 审核消息 -->
        <activity
            android:name=".activity.im.interphone.groupmanage.joingrouplist.activity.JoinGroupListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.im.interphone.groupmanage.handlegroupapply.HandleGroupApplyActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 我的好友的界面，通过群界面登入 -->
        <activity
            android:name=".activity.im.interphone.groupmanage.groupperson.GroupPersonActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 偏好设置界面 -->
        <activity
            android:name=".activity.common.preference.activity.PreferenceActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 城市列表 -->
        <activity
            android:name=".activity.music.program.citylist.activity.CityListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 下载主页 -->
        <activity
            android:name=".activity.music.download.activity.DownloadActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 节目单页 -->
        <activity
            android:name=".activity.music.program.schedule.activity.ScheduleActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 下载列表 -->
        <activity
            android:name=".activity.music.download.downloadlist.activity.DownLoadListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 猜你喜欢更多推荐 -->
        <activity
            android:name=".activity.music.program.tuijian.activity.RecommendLikeListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.music.program.fmlist.activity.FMListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.im.interphone.creategroup.frienddetails.TalkPersonNewsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.im.interphone.message.activity.NewsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.common.welcome.activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 分类界面 -->
        <activity
            android:name=".activity.music.program.radiolist.activity.RadioListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 注册协议 -->
        <activity
            android:name=".activity.person.agreement.AgreementActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <!-- 流量管理界面 -->
        <activity
            android:name=".activity.mine.flowmanage.main.FlowManageActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 二维码界面 -->
        <activity
            android:name=".activity.mine.qrcode.EWMShowActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 蓝牙 -->
        <activity
            android:name=".activity.mine.bluetooth.BluetoothActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- WiFi界面 -->
        <activity
            android:name=".activity.mine.wifi.WIFIActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- WiFi密码配置 -->
        <activity
            android:name=".activity.mine.wifi.ConfigWiFiActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- FM调频界面 -->
        <activity
            android:name=".activity.mine.fm.FMConnectActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 专辑界面 -->
        <activity
            android:name=".activity.music.program.album.activity.AlbumActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.person.modifyphonenumber.ModifyPhoneNumberActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 验证手机号 -->
        <activity
            android:name=".activity.person.phonecheck.PhoneCheckActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 友盟activity -->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.NoTitleBar" />

        <!--  -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 騰訊qq -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105341370" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5715cf1e67e58e5955000896"></meta-data>
        <!-- 高德地图用户Key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="7dabc8027d924f36cd758732c895c261"></meta-data>

        <!-- 开机启动 -->
        <receiver android:name=".receiver.AutoStartReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <service android:name=".service.SubclassService" />
        <service android:name=".service.NotificationService" />
        <service android:name=".service.timeroffservice" />
        <service android:name=".service.SocketService" />
        <service android:name=".service.VoiceStreamRecordService" />
        <service android:name=".service.VoiceStreamPlayerService" />
        <service android:name=".activity.music.common.service.DownloadService" />
        <service android:name=".service.FloatingWindowService" />
        <service android:name=".service.TestWindowService" />
        <service android:name=".service.LocationService" />
        <service android:name="com.amap.api.location.APSService" />
        <activity android:name=".activity.im.interphone.analog.AnalogueActivity"></activity>

    </application>

</manifest>