<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wotingfm">

    <!-- 蓝牙管理 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 改变WiFi状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取WiFi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 使用蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 读取联系人 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <!-- 获取任务信息 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 写入外部存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 开机自动允许 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 连续广播 -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- 读写系统设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 处理拨出电话 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <!-- 读取电话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读写发送短信 -->
    <!-- <uses-permission android:name="android.permission.READ_SMS" /> -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- <uses-permission android:name="android.permission.WRITE_SMS" /> -->
    <!--
    拨打电话权限
    <uses-permission android:name="android.permission.CALL_PHONE" />
    -->
    <!-- 修改声音设置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- 定位包、导航包需要的额外权限（注：基础权限也需要） -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- Needed to use our own Contact editor -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!--  -->
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".common.application.BSApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <!-- 启动时的欢迎界面 -->
        <activity
            android:name=".activity.common.splash.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--  -->
        <activity
            android:name=".activity.common.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="com.woting.htmlcallback" />
            </intent-filter>
        </activity>

        <!-- 创建群组主界面 -->
        <activity
            android:name=".activity.im.interphone.creategroup.main.CreateGroupMainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 创建群组子界面  即有创建公开群、密码群、验证群 -->
        <activity
            android:name=".activity.im.interphone.creategroup.create.CreateGroupItemActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 消息中心 -->
        <activity
            android:name=".activity.im.interphone.notify.NotifyNewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 头像剪裁界面 -->
        <activity
            android:name=".activity.im.interphone.creategroup.photocut.activity.PhotoCutActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".activity.im.interphone.alert.CallAlertActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".activity.im.interphone.alert.ReceiveAlertActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".activity.im.interphone.main.DuiJiangActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".activity.im.interphone.groupmanage.groupdetail.activity.GroupDetailAcitivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".activity.im.interphone.groupmanage.transferauthority.TransferAuthority"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.im.interphone.groupmanage.memberadd.MemberAddActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.im.interphone.groupmanage.memberdel.MemberDelActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".activity.im.interphone.groupmanage.allgroupmember.activity.AllGroupMemberActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.im.interphone.groupmanage.modifygrouppassword.ModifyGroupPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>