<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wotingfm">

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 蓝牙管理 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 改变WiFi状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取WiFi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 使用蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 读取联系人 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <!-- 获取任务信息 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 写入外部存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 开机自动允许 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 连续广播 -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- 读写系统设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 处理拨出电话 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <!-- 读取电话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读写发送短信 -->
    <!-- <uses-permission android:name="android.permission.READ_SMS" /> -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- <uses-permission android:name="android.permission.WRITE_SMS" /> -->
    <!--
    拨打电话权限
    <uses-permission android:name="android.permission.CALL_PHONE" />
    -->
    <!-- 修改声音设置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- 定位包、导航包需要的额外权限（注：基础权限也需要） -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- Needed to use our own Contact editor -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!--  -->
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".common.application.BSApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <!-- 启动时的欢迎界面 -->
        <activity
            android:name=".activity.common.splash.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 下载界面 -->
        <activity
            android:name=".activity.music.download.activity.DownloadActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>

        <!-- 下载界面 -->
        <activity
            android:name=".activity.music.download.downloadlist.activity.DownLoadListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>

        <!-- 主界面 -->
        <activity
            android:name=".activity.common.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>

        <!-- 创建群组主界面 -->
        <activity
            android:name=".activity.im.interphone.creategroup.main.CreateGroupMainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>

        <!-- 创建群组子界面  即有创建公开群、密码群、验证群 -->
        <activity
            android:name=".activity.im.interphone.creategroup.create.CreateGroupItemActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>

        <!-- 消息中心 -->
        <activity
            android:name=".activity.im.interphone.notify.activity.NotifyNewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>

        <!-- 头像剪裁界面 -->
        <activity
            android:name=".activity.im.interphone.creategroup.photocut.activity.PhotoCutActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 查找好友、群组界面 -->
        <activity
            android:name=".activity.im.interphone.find.FindActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 查找好友、群组显示结果界面 -->
        <activity
            android:name=".activity.im.interphone.find.result.FindNewsResultActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 扫描二维码界面 -->
        <activity
            android:name=".activity.im.interphone.scanning.activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 扫描二维码显示结果界面 -->
        <activity
            android:name=".activity.im.interphone.scanning.activity.ResultActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 添加好友界面 -->
        <activity
            android:name=".activity.im.interphone.find.add.FriendAddActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 添加好友界面 -->
        <activity
            android:name=".activity.im.interphone.find.add.GroupAddActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.im.interphone.alert.CallAlertActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 我的界面 -->
        <activity
            android:name=".activity.mine.main.MineActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 关于我们 -->
        <activity
            android:name=".activity.mine.about.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 联系我们 -->
        <activity
            android:name=".activity.mine.contactus.ContactUsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 下载位置 -->
        <activity
            android:name=".activity.mine.downloadposition.DownloadPositionActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 意见反馈 -->
        <activity
            android:name=".activity.mine.feedback.activity.FeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 帮助 -->
        <activity
            android:name=".activity.mine.help.HelpActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 设置界面 -->
        <activity
            android:name=".activity.mine.set.SetActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 修改个人资料 -->
        <activity
            android:name=".activity.mine.update.activity.UpdatePersonActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 我喜欢的界面 -->
        <activity
            android:name=".activity.music.favorite.activity.FavoriteActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.music.main.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 登录 -->
        <activity
            android:name=".activity.person.login.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 注册 -->
        <activity
            android:name=".activity.person.register.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 忘记密码 -->
        <activity
            android:name=".activity.person.forgetpassword.activity.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activity.person.modifypassword.activity.ModifyPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 反馈建议历史 -->
        <activity
            android:name=".activity.mine.feedback.feedbacklist.activity.FeedbackListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 修改手机号 -->
        <activity
            android:name=".activity.person.phonecheck.activity.PhoneCheckActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 播放历史界面 -->
        <activity
            android:name=".activity.music.playhistory.activity.PlayHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 定时关闭界面 -->
        <activity
            android:name=".activity.music.timeset.activity.TimerPowerOffActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <!-- 搜索界面 -->
        <activity
            android:name=".activity.music.search.activity.SearchLikeAcitvity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.im.interphone.alert.ReceiveAlertActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.im.interphone.groupmanage.groupdetail.activity.GroupDetailAcitivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.im.interphone.groupmanage.transferauthority.TransferAuthority"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.im.interphone.groupmanage.memberadd.activity.MemberAddActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.im.interphone.groupmanage.memberdel.MemberDelActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.im.interphone.groupmanage.allgroupmember.activity.AllGroupMemberActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.im.interphone.groupmanage.modifygrouppassword.ModifyGroupPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.im.interphone.main.DuiJiangActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.im.interphone.groupmanage.joingrouplist.activity.JoinGroupListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".activity.music.program.citylist.activity.CityListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".activity.music.program.album.activity.AlbumActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".activity.music.program.tuijian.activity.RecommendLikeListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".activity.music.program.fmlist.activity.FMListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".activity.im.interphone.groupmanage.groupperson.GroupPersonActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>

        <service android:name=".activity.music.common.service.DownloadService"/>

        <service android:name=".service.timeroffservice"/>

        <service android:name=".service.NotificationService"/>

        <service android:name=".service.SocketService"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5715cf1e67e58e5955000896" />

    </application>

</manifest>